
.swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    background-size: cover;
    background-position: center;
}

.gallery-top .swiper-slide img {min-height: 370px;}
.gallery-thumbs .swiper-slide img {min-height: 150px;}

.gallery-top {
    height: auto;
    width: 100%;
}
.gallery-thumbs {
    height: 150px;
    box-sizing: border-box;
    padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
    height: 100%;
    opacity: 0.4;
    cursor: pointer;
}
.gallery-thumbs .swiper-slide-active {
    opacity: 1;
}

@media only screen and (max-width: 769px) {
    .gallery-top .swiper-slide img {min-height: 310px;}
    .gallery-thumbs .swiper-slide img {min-height: 100px;}
}

@media only screen and (max-width: 380px) {
    .gallery-top .swiper-slide img {min-height: 250px;}
    .gallery-thumbs .swiper-slide img {min-height: 70px;}   
}